<!DOCTYPE html>
<html lang="en">
<!-- Written by Anand Chandra -->

<head>
    <title>Empty Dreams | FW19</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Empty Dreams: FW19 Showcase">
    <meta name="keywords" content="Anand Chandra, empty dreams, clothing, clothes, fw19, hype clothes">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/showcase.css" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon-info/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon-info/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-info/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-info/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-info/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-info/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-info/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-info/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-info/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon-info/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-info/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-info/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-info/favicon-16x16.png">
    <link rel="manifest" href="/favicon-info/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <img class="showcase__bg-image showcase__bg-image-1" src="images/showcase-bg.png" alt="bg" />
  <img class="showcase__bg-image showcase__bg-image-2" src="images/showcase-bg.png" alt="bg-2" />
  <img class="showcase__bg-image showcase__bg-image-3" src="images/showcase-bg.png" alt="bg-3" />
  <div class="showcase">
    <div class="mobile-header">EMPTY DREAMS FW19</div>
    <img class="showcase__image" src="images/hoodie.png" alt="hoodie" />
    <img class="showcase__image" src="images/gluttony-hoodie.png" alt="gluttony-hoodie" />
    <img class="showcase__image" src="images/world_i.png" alt="world_i" />
    <img class="showcase__image" src="images/world_ii.png" alt="world_ii" />
    <img class="showcase__image" src="images/joggers.png" alt="world_ii" />
    <div class="showcase__sell">
      email anandchandra@berkeley.edu if interested. all designs can be put on any item (t-shirt, long-sleeve, sweater, hoodie). price range: $30 hoodies/sweatshirts/joggers, $25 long-sleeve, $20 t-shirt.
    </div>
  </div>
</body>
</html>
