.base {
  overflow: hidden;
}

body {
  overflow: hidden;
}

.base__image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.base__continue {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  color: white;
}
